<h1>{{ site.author }}</h1>
<hr>
<div class="lead">
    <p> Hi there!
    </p>
    <p> 
        I'm Leo, a Computer Engineer who loves music, has a love story with math and enjoys sports and nature.
    </p>
    <p> 
        This space is dedicated for writing down some thoughts and projects. It might (and most probably will) be outdated 
        so you should check on my <a href="https://github.com/leomrocha">github repos</a> or my <a href="http://linkedin.com/in/rochaleonardomanuel/">LinkedIn profile</a>
    </p>
</div>
