<div>
<markdown>
#Learn Music online playing your guitar


## Like duolingo but for MUSIC!! 

## Like Rockband with REAL INSTRUMENTS!!!


**This page is under havy work, and I'll be uploading notes quite often**
    
## Me:
**I'm Leo, I'm a Computer Engineer, I love playing my guitars and learning music**

  
    If you want to contribute, or any opinion, CONTACT ME (if you are reading this page you have my contact information).


I am working to be able to plug my guitar to the computer, and follow exercises and games that actually listen to what I play, and lets me know if it's right or wrong


##AWESOME NEED:

I NEED to be able to plug my guitar to the computer and have a personal teacher that guides and corrects me whenever I make a mistake.

I have to be able to see the error in real time

I have to be able to have a track record on how am I going

I have to be able to ask a teacher


    
###So, there are the following things on this
    
1. Business
2. Technology
3. Competition

### 1. Business

    I will be updating the business models hypothesis this week.

There is interest, you can see:

http://www.reddit.com/r/musictheory/comments/1gj0w3/

http://www.quora.com/Android-Applications/Is-there-an-application-like-Duolingo-for-music-education

### 2. Technology - It's possible (check below)

This is what I do!!!

There are 3 parts on this:

1. music notation, well you can see some examples here
2. music transcription (software that listens to you and gets what you are playing or singing)
3. exercises!!

The technology is ready. Points **1** and **2** are already in a good state of the art (though there are things to do yet). We need to make the third part!

#### Examples:

To show music sheets (and the TAB for the guitar also!):

</markdown>

<div vextab>
    options space=20 player=true tempo=140

    tabstave
      notation=true
      key=A time=4/4

      notes :q =|: (5/2.5/3.7/4) :8 7-5h6/3 ^3^ 5h6-7/5 ^3^ :q 7V/4 |
      notes :8 t12p7/4 s5s3/4 :8 3s:16:5-7/5 :h p5/4
      text :w, |#segno, ,|, :hd, , #tr


    options space=25

    tabstave
      notation=true 

      notes :q (5/4.5/5) (7/4.7/5)s(5/4.5/5) ^3^
      notes :8 7-5/4 $.a./b.$ (5/4.5/5)h(7/5) =:|
      notes :8 (12/5.12/4)ds(5/5.5/4)u 3b4/5
      notes :h (5V/6.5/4.6/3.7/2) $.italic.let ring$ =|=

      text :h, ,.font=Times-12-italic, D.S. al coda, |#coda
      text :h, ,.-1, .font=Arial-14-bold,A13
      text ++, .23, #f
</div>


<markdown>

But, more than that, check out this interactive example, copy this text:


    options space=20 player=true tempo=140

    tabstave
      notation=true
      key=A time=4/4

      notes :q =|: (5/2.5/3.7/4) :8 7-5h6/3 ^3^ 5h6-7/5 ^3^ :q 7V/4 |
      notes :8 t12p7/4 s5s3/4 :8 3s:16:5-7/5 :h p5/4
      text :w, |#segno, ,|, :hd, , #tr

and paste it in the textbox input.



</markdown>
<div interactive-vextab>
    options space=20 player=true tempo=140

    tabstave notation=true time=4/4 tablature=false
    notes Cn-D-E/4 F#/5
</div>

<markdown>

Or try this other one:

    options space=20 player=true tempo=140
    tabstave notation=true time=4/4 tablature=false
    notes Cn-D-E/4 F/5

EVEN MORE: [here](http://leomrocha.github.io/test.html) an example with MIDI sound synthesis.


Display guitar chords:
</markdown>
<vexchord data-key="E" data-string="E" data-shape="M E"/></div>
<markdown>
And even the guitar fretboard (I am working on the integration of the fretboard library yet).

This can and will be done for other instruments (piano is the other main target)



The transcription algorithm is quite robust, needs flash and access to your microphone. Basically it listents to you and transcodes the notes (in multi-pitch mode) or one single note (in single pitch mode) If you want to chewk all the examples [here](http://leomrocha.github.io/soundtools/) and [here](http://leopanigo.net)

</markdown>

<div ng-controller="toolsController">
    <ul class="nav nav-tabs">
        <li ng-repeat="tool in toolsList">
            <a ng-click='setSelectedTool(tool)' >
	            <i class="menu-icon fa fa-music"></i>
	            <span class="menu-text"> {{tool.title}} </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul>

    <div class="main-content">

	    <!-- /section:basics/content.breadcrumbs -->
	    <div class="page-content">
		    <div class="row">
			    <div class="col-xs-12">
				    <!-- PAGE CONTENT BEGINS -->

    <!-- #section:pages/error -->
				    <div class="center">
					    <div class="well">
						    <h1 class="grey lighter smaller">
							    <span class="blue bigger-125">
                                    {{selectedTool.title}}
							    </span>
						    </h1>

						    <hr />
						    <h3 class="lighter smaller">
							    {{selectedTool.subtitle}}
						    </h3>

						    <div class="space"></div>

						    <div>
							    {{selectedTool.description}}
						    </div>

						    <hr />
						    <div class="space"></div>

						    <div class="center">
                                <div>
                                    <object id="{{selectedTool.title}}" width="{{selectedTool.width}}" height="{{selectedTool.height}}" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="pluginspage" value="http://www.adobe.com/go/getflashplayer" /><embed id="{{selectedTool.title}}" width="{{selectedTool.width}}" height="{{selectedTool.height}}" type="application/x-shockwave-flash" embed-src="{{selectedTool.source}}" pluginspage="http://www.adobe.com/go/getflashplayer" /></object>

                                </div>
						    </div>
					    </div>
				    </div>

				    <!-- /section:pages/error -->

                    <hl/>                
				    <!-- PAGE CONTENT ENDS -->
			    </div><!-- /.col -->
		    </div><!-- /.row -->
	    </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</div>
<markdown>



### 3. Competition

There are some other direct and indirect competitors, two years ago when I first started with this idea, there where some attempts, but no real things.

Now there are:

http://musikata.com/request_invitation.html  (more like I propose)

https://itunes.apple.com/us/app/tenuto/id459313476?mt=8 

http://www.musictheory.net/ (only theory, no instrument playing)




</markdown>

</div>
