<div class="hero" style="background-image: url('/images/acustic_guitar_play.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="https://avatars0.githubusercontent.com/u/3646521?v=2&s=460" alt="Leo's Picture">
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
       <small> Photo by Anne-Elisabet Gazet </small>
    </p>
  </div>
</div>
